body {
	font-family:monospace;
}

.index {
	padding: 10px 0px 10px 50px;
	/*padding-top:10px;*/
	/*padding-bottom:10px;*/
	/*padding-left:50px;*/
}
.container {
	padding: 50px;
	/*padding-left:50px;*/
	/*padding-top: 50px;*/
	/*padding-right:50%;*/
	max-width: 1000px;	

	margin: auto;
}

div.item:nth-of-type(2){
	padding-top: 10px;
}

pre {
	margin: 0;
}

div.list {
	margin-left:100px; 
	border-left: 1px solid black; 
	padding-left:20px;
}

div.repo {
	width:100%; 
	height:30px
}
.repo > a:link {	
    color: #f11792;
}
.repo > a:visited {	
    color: #f11792;
}
.repo > a:hover {	
    color: #000000;
}
.repo > a:active{	
    color: #f11792;
}

/* unvisited link */
a {
	text-decoration: none
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #f11792;
}

/* selected link */
a:active {
    color: #f11792;
}

a.dir {
}

	/* unvisited link */
a.dir:link {
    color: #8c0d55;
}

/* visited link */
a.dir:visited {
    color: #8c0d55;/*4f2f41;*/
}

/* mouse over link */
a.dir:hover {
    color: #f11792;
}

/* selected link */
a.dir:active {
    color: #f11792;
}

html {
	background-color: #f9f9f9;
}

.repo {
	color: #f11792;
}