<!DOCTYPE html>
<html>
<head>
	<title>{{.RepoName}}</title>
	<link rel="stylesheet" type="text/css" href="/static/styling.css">
</head>
<body >
<div class="container">
	<div class="repo">
		<a href="/">{{.RepoName}}</a>{{if .HasParent }} > .{{.ParentPath}} {{end}}
		<div style="float:right">
		<a href="/git/{{.RepoName}}" >clone</a> ❤ <a href="/git/{{.RepoName}}/archive.tar.gz" >download</a>
		</div>
	</div>
	<div class="branch" style="float:left">
		[{{.BranchName}}] 
	</div>
	<div style="margin-left:100px; border-left: 1px solid black; padding-left:10px">
		{{if .HasParent}}
		<div> 
			<a href="../">..</a>
		</div>
		{{end}}
		{{range .Files}} 
		<div> 
			<a {{if .IsDir}} class="dir" {{end}} href="./{{.Path}}">{{.Name}}</a>
			<pre style="float:right">{{.Info}}</pre>
		</div>
		{{end}}
	</div>
</div>
</body>
</html>