<!DOCTYPE html>
<html>
<head>
	<title>{{.RepoName}}</title>
	<link rel="stylesheet" type="text/css" href="/static/styling.css">
	<script type="text/javascript">
		function show_clone(a) {
			var link = document.getElementById("clone_link")
			var input = document.getElementById("clone_input")
			link.style.display = 'none'
			input.value = "http://" + window.location.host + "/clone/{{.RepoName}}"
			input.style.display = "inline"
			input.select()
		}

		function hide_clone(a) {
			var link = document.getElementById("clone_link")
			var input = document.getElementById("clone_input")
			link.style.display = 'inline'
			input.style.display = "none"
		}
	</script>
	{{.Header}}
</head>
<body >
<div class="index">
<a href="/">< .. Git Repositories</a>
</div>
<div class="container">
	<div class="repo">
		<a href="/repo/{{.RepoName}}">{{.RepoName}}</a>{{if .HasParent }} > .{{.ParentPath}} {{end}}
		<div style="float:right">
		<a href="#!" onclick="show_clone()" id="clone_link">clone</a>
		<input type="text" name="clone_url" id="clone_input" onblur="hide_clone()" >
		 ❤ <a href="/download/{{.RepoName}}/{{.RepoName}}-master.tar.gz" >download</a>
		</div>
	</div>
	<div class="branch" style="float:left">
		[{{.BranchName}}] 
	</div>
	<div class="list" >
		{{if .HasParent}}
		<div> 
			<a href="../">..</a>
		</div>
		{{end}}
		{{range .Files}} 
		<div> 
			<a {{if .IsDir}} class="dir" {{end}} href="./{{.Path}}">{{.Name}}</a>
			<pre style="float:right">{{.Info}}</pre>
		</div>
		{{end}}
	</div>
</div>
{{.Footer}}
</body>
</html>